
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel = "stylesheet" href="{% static '/style.css'%}" />
</head>

<body style="background-color:rgb(248, 171, 162);">
	 
	<div class="container" >
		<div class="form_area">
			<p class="title">LOG IN</p>
			<form         class="col-6 mx-auto card p-3 shadow-lg"
			method="post"  enctype="multipart/form-data"
			>
			
			{% csrf_token %}
				{% if messages %}
				<div class="alert alert-primary"  role="alert" >
				  {% for message in messages %} {{ message }} {% endfor %}
				</div>
				{% endif %}
				
				<div class="form_group" >
					<label class="sub_title" for="name">Name</label>
					<input placeholder="Enter username" class="form_style" type="text"   name="username" 
					id="exampleInputEmail1"   aria-describedby="emailHelp"
					required	>
				</div>
				<div class="form_group">
					<label for="exampleInputPassword1">Password</label>
					<input
					 placeholder="Enter your password"
					 id="exampleInputPassword1"

					 name="password"
					  class="form_style" 
					  type="password"
					  required/>
					  
				</div>
				<div>
					<button type="submit" class="btn btn-primary">login</button>
					<p> Dont Have an account?<a href="/auth/register/">REGISTER</a></p>
				</form></div>
			</div>

</body>